<div class="login">

    {{#if error}}
    <h2 class="loginerror">Something went wrong!! Please check your email and password.</h2>
    <h2 class="loginerror">Make sure that you have registered yourself!</h2>
    {{/if}}

    <div class="logincontainer">
        <p class="logindata">Please insert your email & password.</p>
        <form method="POST">
            <input type="text" class="Email" name="email" placeholder="Email">
            <input type="Password" class="Password" name="password" placeholder="Password">
            <input type="hidden" name='_csrf' value="{{csrfToken}}">
            <button>Submit</button>
        </form>
    </div>
    <a class="signup" href="./register">If you haven't registered yet? Register Here!</a>
</div>