<main class="signerswithcity">
    {{#if error}}
    <h2 class="error">Ups!! something went wrong! Please reload the page.</h2>
    {{/if}}

    <div class="city-container">

        <h2 class="citylist">Signed members from the same {{city}}!</h2>

        {{#people}}
        <p> Name & age: {{first}} {{last}}, {{age}} </p>
        {{/people}}

        <a href="./logout"><button>Log Out</button></a>

    </div>
</main>