<div class="detailpage">
    <h2 class="thanks">Thank you for signing our petition</h2>
    <h3>click below to see who else has signed this petition.</h3>
    <div class="details">
        <h3>{{firstName}} {{lastName}}</h3>
        <img class="signbox" src="{{signature}}">
    </div>
    <a class="people" href="./signed">Click Here</a>
</div>