<h2 class="thanks">Thank you for signing our petition</h2>
<h3>click below to see who else has signed this petition.</h3>
<div class="details">
    <h3>{{firstName}}</h3>
    <h3>{{lastName}}</h3>
    <h3>{{signature}}</h3>
</div>
<a class="people" href="./signed">Click Here</a>